{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
    <head>

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>핀톡</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/freelancer.css' %}">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Find fp</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#financial-plan">Financial</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#newsletter">Newsletter</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#location">Location</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'img/wallet.png' %}" alt="">
                    <div class="intro-text">
                        <span class="name">올바른 재무설계의 시작</span>
                        <hr class="star-light">
                        <span class="skills">Find your Financial Plan & Planner with <a href="/" color>FINTALK</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Financial Plan Grid Section -->
    <section id="financial-plan">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>재무설계는 뭐죠?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 financial-plan-item">
                    <a href="#financialPlanModal1" class="financial-plan-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p>재무설계</p>
                            </div>
                        </div>
                        <img src="{% static 'img/financial/cabin.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 financial-plan-item">
                    <a href="#financialPlanModal2" class="financial-plan-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/financial/cake.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 financial-plan-item">
                    <a href="#financialPlanModal3" class="financial-plan-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/financial/circus.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 financial-plan-item">
                    <a href="#financialPlanModal4" class="financial-plan-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/financial/game.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 financial-plan-item">
                    <a href="#financialPlanModal5" class="financial-plan-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/financial/safe.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 financial-plan-item">
                    <a href="#financialPlanModal6" class="financial-plan-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/financial/submarine.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>우리는 고객과 금융(Financial)에 관련된 부분을 편하게 이야기(Talk) 나누고자 합니다. 내 집은 어떻게 하지? 아이들의 교육자금은 어떻게 하지?  고민은 있지만 계획을 세우는 것이 만만치 않습니다. </p>
                </div>
                <div class="col-lg-4">
                    <p>수많은 재무 문제들에 대한 솔루션을 스스로 만들어보고, 전문가의 도움을 받기도 한다면 인생이 달라지지 않을까요? 핀톡은 제대로된 재무컨설팅과 자산관리를 돕는 플랫폼과 시스템을 구축해 여러분의 어려움을 함께 극복하고자 합니다.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        에프피 보러가기 <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter Section -->
    <section id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>join our newsletter</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form id="contactForm" method="POST">
                        {% csrf_token %}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                {{ form.name }}
                                {% if form.name.errors %}
                                  <span class="help-block text-danger">
                                    {% for error in form.name.errors %}{{ error }}{% endfor %}
                                  </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                  <span class="help-block text-danger">
                                    {% for error in form.email.errors %}{{ error }}{% endfor %}
                                  </span>
                                {% endif %}
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg" id="submit">구독하기</button>
                                <img src="{% static 'img/loading.gif' %}" id="loading" style="display:none"/ >
                            </div>
                        </div>
                        <div id="success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <section class="map" id="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>오시는 길</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div id="map"></div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3><img class="footer-logo" src="{% static 'img/logo_white.png' %}" alt="FINTALK"></h3>
                        <p>㈜핀톡 FinTalk | 대표이사 : 백정선
                            <br>사업자등록번호 820-81-00378</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>서울시 강남구 영동대로86길 6<br>지산빌딩 4층</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2016, FINTALK ALL Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Financial Plan Modals -->
    <div class="financial-plan-modal modal fade" id="financialPlanModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>재무설계란</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/financial/cabin.png' %}" class="img-responsive img-centered" alt="">
                            <p>말만 들으면 그럴듯하고 거창해 보여 돈 많은 자산가나 월 소득이 높은 사람들에게만 필요한 것으로 오해하는 사람이 적지 않다. 하지만 재무 설계의 근본 취지는 자신의 소득 수준에 부합하는 가장 적절하고 효율적인 지출과 저축 계획을 세우는 것이므로 소득 수준과 상관없이 꾸준히 관심을 갖고 체계적으로 관리하
                                는 것이 그 무엇보다 중요하다. 어찌 보면 재무 설계란 돈을 잘 쓰는 법에 더 가깝다. 재무설계는 크게 다음과 같이 나눌 수 있다.</p>

                                
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>November 2016</strong>
                                </li>
                                <li>by:
                                    <strong>Fintalk</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial-plan-modal modal fade" id="financialPlanModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/financial/cake.png' %}" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>November 2016</strong>
                                </li>
                                <li>by:
                                    <strong>Fintalk</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial-plan-modal modal fade" id="financialPlanModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/financial/circus.png' %}" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>November 2016</strong>
                                </li>
                                <li>by:
                                    <strong>Fintalk</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial-plan-modal modal fade" id="financialPlanModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/financial/game.png' %}" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>November 2016</strong>
                                </li>
                                <li>by:
                                    <strong>Fintalk</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial-plan-modal modal fade" id="financialPlanModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/financial/safe.png' %}" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>November 2016</strong>
                                </li>
                                <li>by:
                                    <strong>Fintalk</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="financial-plan-modal modal fade" id="financialPlanModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="{% static 'img/financial/submarine.png' %}" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <strong>November 2016</strong>
                                </li>
                                <li>by:
                                    <strong>Fintalk</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    function initMap() {
        var fintalk = {lat: 37.50771, lng: 127.0646806};
        var fintalkIcon = {
            url: '{% static 'img/icon.png' %}',
            scaledSize: new google.maps.Size(50, 50), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(25, 50) // anchor
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            center: fintalk,
            zoom: 18
        });
        var marker = new google.maps.Marker({
            icon: fintalkIcon,
            position: fintalk,
            map: map,
        });
    }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvs_l_KPakPEmBKzKuZLw7VjamKQpJmdQ&callback=initMap">
    </script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>


</body>

</html>
